{% load static %}
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/assets/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/assets/images/fav.jpg">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/grid-gallery/css/grid-gallery.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" />
  </head>
  <body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">

    <a class="navbar-brand" href="#" style="color:white" ><i class="fa fa-heartbeat"></i> <b>Blood Bank Management</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         
        </li>
        <li class="nav-item">
         
        </li>
          <li class="nav-item">
         
        </li>
          <li class="nav-item">
          
        </li>

      </ul>
    <form class="d-flex" role="search">
        <a class="nav-link" style="color: white;" href="/home/"><i class="fas fa-home"></i>&nbsp; Home</i></a>
        <a class="nav-link" style="color: white;" href="/login/"><i class="fas fa-procedures"></i>&nbsp; Patient</i></a>
        <a class="nav-link" style="color: white;" href="/d_login/"><i class="fas fa-user"></i>&nbsp; Donor</i></a>
        <a class="nav-link" style="color: white;" href="/alogin/"><i class="fas fa-user-shield"></i>&nbsp; Admin</i></a>
      </form>
    </div>
  </div>

</nav>
  <style>
    .collapse navbar-collapse .d-flex .nav-link:hover{
      color:blue;
    }
  </style>
  </body>
</html>